@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* --- LIGHT THEME --- */
     --color-primary: /*#4F9DDE*/ #4f9cdd; 
    --color-secondary: #A3AAED;
     --color-bg:/*#4f9ede13*/ #f5f9fd; 
    --color-surface: #FFFFFF;
   --color-text-main:  /* #1B213F*/#717182; 
    --color-text-muted: #959BA5;
    --color-yellow-code:#c2b634;
  

    
  }

  .dark {
    /* --- DARK THEME --- */
    --color-primary: linear-gradient(90deg, #4F9DDE, #A3AAED);
    --color-secondary: #2F4F70;
    --color-bg: #0E2A46;
    --color-surface: #2F4F70;
    --color-text-main: #FFFFFF;
    --color-text-muted: #CACEF7;
  }


  body {
  
  font-family: 'Poppins', sans-serif;

    background: var(--color-bg);
    color: var(--color-text-main);
    overflow-x: hidden;
  }

  button {
    background: var(--color-primary);
    color: white;
  }

.inner-shadow {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}


.text-3d {
  color: #c7ccf4;
  
  text-shadow: 0 2px 1px #ffffff,   /* haut clair */
    0 -2px 1px rgba(0, 0, 0, 0.25), /* bas sombre */ 
     2px 2px 4px rgba(0,0,0,0.2);  /* flou général */
  /* 0 1px 0 #fff, 0 -1px 0 rgba(0,0,0,0.25); */
}




}
