@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* --- LIGHT THEME --- */
     --color-primary: /*#4F9DDE*/ #4f9cdd; 
    --color-secondary: #A3AAED;
     --color-bg:/*#4f9ede13*/ #f5f9fd; 
    --color-surface: #FFFFFF;
   --color-text-main:  /* #1B213F*/#717182; 
    --color-text-muted: #959BA5;
    --color-yellow-code:#c2b634;
  

    
  }

  .dark {
    /* --- DARK THEME --- */
    --color-primary: linear-gradient(90deg, #4F9DDE, #A3AAED);
    --color-secondary: #2F4F70;
    --color-bg: #0E2A46;
    --color-surface: #2F4F70;
    --color-text-main: #FFFFFF;
    --color-text-muted: #CACEF7;
  }


  body {
  
  font-family: 'Poppins', sans-serif;

    background: var(--color-bg);
    color: var(--color-text-main);
    overflow-x: hidden;
  }

  button {
    background: var(--color-primary);
    color: white;
  }

.inner-shadow {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}


.text-3d {
  color: #c7ccf4;
  
  text-shadow: 0 2px 1px #ffffff,   /* haut clair */
    0 -2px 1px rgba(0, 0, 0, 0.25), /* bas sombre */ 
     2px 2px 4px rgba(0,0,0,0.2);  /* flou général */
  /* 0 1px 0 #fff, 0 -1px 0 rgba(0,0,0,0.25); */
}



/* .about-container {
  width: 100%;
  margin: 0 ;
 padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* line-height: 1.6; */
/* }
.about-content p{
  width: 70%;
}
.about-container h1{

 background:  linear-gradient(to right, #4F9DDE,#2F4F70,#2F4F70);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
font-weight: 550;
  font-size: 2rem;
}


.vision-section h2 {
   background: linear-gradient(to top, #314D91,#4F9DDE);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.mission-values .our{
  width: 140px;
  border-radius: 10px;
  height: 60px;

   background: linear-gradient(to top, #cce0f5, #ffffff);
 

}
.vision-section{
  display: flex;
}


.about-text {
  color: var(--color-text-main);    couleur gris doux de ton thème 
  width: 70%;                      /* même largeur que sur la maquette 
  font-size: 1.05rem;              /* taille identique (~17px) 
            /* espacement agréable 
  font-weight: 400;                /* normal, pas bold 
  margin-bottom: 0.3rem;           /* même espace que sur l’image 
}















 */ 

}
