@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- Palette LIGHT (RGB converted) ---- */
:root {
  --color-primary: 79 157 222;   /* #4F9DDE */
  --color-muted: 79 157 222; 
  --color-secondary: 163 170 237; /* #A3AAED */
  --color-supp:163 170 237;
  --color-tertiary: 186 104 200; /* #BA68C8 */
  --color-gray: 153 161 175;     /* #99A1AF */
  --color-bg: 255 255 255;       /* #FFFFFF */
  --color-surface: 245 247 250;  /* léger */
  --color-text: 10 10 10;        /* #0A0A0A */
  --color-grisclair:165 165 165;   /* #a5a5a5*/
  --color-yellow-code: 192 180 44;
  --color-card: 255 255 255;
  --color-nav:79 157 222;
  --color-blue:79 157 222;
  --color-purple:163 170 237;
  --color-pink:187 104 200;
  --color-red: 240 80 80;




    /* Dégradés LIGHT */
  --grad-1: linear-gradient(135deg, #4F9DDE, #2F4F70);
  --grad-2: linear-gradient(135deg, #4f9ede12, #FFFFFF);
  --grad-3: linear-gradient(135deg, #a3aaed40, #FFFFFF);
  --grad-4: linear-gradient(135deg, #ba68c815, #FFFFFF);
  --grad-5: radial-gradient(circle at center, #bad7f0, #ffffff);

}

/* ---- Palette DARK ---- */
.dark {
  --color-primary: 47 79 112;  
  --color-muted: 255 255 255;
  --color-secondary: 30 41 57;    /* #1E2939 */
  --color-supp:79 157 222;
  --color-tertiary: 186 104 200; 
  --color-gray: 229 231 235;     /* #E5E7EB */
  --color-bg: 15 18 26;          /* sombre */
  --color-surface: 25 32 45;
  --color-text: 255 255 255;
  --color-yellow-code:192 180 44;
  --color-title-card:47 79 112;
  --color-icons-about: 195 153 210;
  --color-card: 47 79 112;
  --color-nav:255 255 255;
  

  /* Dégradés DARK */
  --grad-dark-1: linear-gradient(135deg, #4F9DDE, #A3AAED);
  --grad-dark-2: linear-gradient(135deg, #4f9ede8c, rgba(47, 79, 112, 0.459));
  --grad-dark-3: linear-gradient(135deg, #a3aaed72, #2f4f7066);
  --grad-dark-4: linear-gradient(135deg, #ba68c878, #2f4f70);
}

/* ---- Base ---- */
@layer base {
  body {
    background: rgb(var(--color-bg));
    color: rgb(var(--color-text));
  }
}

@layer utilities {

   /* Dégradés LIGHT */
  .bg-grad-1 { background-image: var(--grad-1); }
  .bg-grad-2 { background-image: var(--grad-2); }
  .bg-grad-3 { background-image: var(--grad-3); }
  .bg-grad-4 { background-image: var(--grad-4); }

  /* Dégradés DARK (même classe → change automatiquement) */
  .dark .bg-grad-1 { background-image: var(--grad-dark-1); }
  .dark .bg-grad-2 { background-image: var(--grad-dark-2); }
  .dark .bg-grad-3 { background-image: var(--grad-dark-3); }
  .dark .bg-grad-4 { background-image: var(--grad-dark-4); }

}
.bg-grad-5 {
  background-image: radial-gradient(circle at center, #bad7f0, #ffffff);
}
.dark .bg-grad-5 {
  background-image: radial-gradient(circle at center, #2F4F70, #1E2939);
}


/* Fix autofill bleu */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 30px white inset !important; /* remplace le bleu par blanc */
  -webkit-text-fill-color: rgb(172, 179, 194) !important;      /* garde le texte lisible */
}
@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown 0.15s ease-out;
}
